export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
zstyle ':omz:update' mode auto
zstyle ':omz:update' frequency 14
zstyle ':omz:plugins:nvm' autoload yes
COMPLETION_WAITING_DOTS="true"
DISABLE_UNTRACKED_FILES_DIRTY="true"

plugins=(git nvm)

source $ZSH/oh-my-zsh.sh

# aliases
alias cz=chezmoi
alias zshrc="cz edit -a ~/.zshrc && zsh"
alias vimrc="cz edit -a ~/.vimrc"
alias pa="php artisan"

function cx() {
  return $(command -v "$1" &>/dev/null)
}

function status() {
  local flag=""
  case "$1" in
    y) flag="%F{green}✔%f" ;;
    n) flag="%F{red}✘%f" ;;
    *)
      echo "invalid flag" 1>&2
      return 255
      ;;
  esac

  print -P "$flag ${@:2}"
}

if cx vimpager; then
  export PAGER=vimpager
  status y "vimpager enabled"
else
  status n "vimpager unavailable"
fi

{{- if eq .chezmoi.config.data.env "phone" }}
  if cx sv && cx nginx; then
    status y "nginx started"
    sv up nginx
  else
    status y "nginx unavailable"
  fi
{{- end }}
